{{ define "main" }}
	<article class="post">
		<h1><a href="{{ .Permalink }}">{{ .Title }}</a> {{ if .Draft }}(Draft){{ end }}</h1>
		<p> Categories: {{range (.GetTerms "categories") }}
			<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
		{{end}} </p>
		<div class="post-content">{{ .Content | safeHTML }}</div>
		<p class="meta">Posted on <span class="postdate">{{ .Date.Format "02. January 2006" }}</span></p>
		<p> Tags: {{range (.GetTerms "tags") }}
			<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
		{{end}} </p>
	</article>
{{ end }}
