{{ define "main" }}
	<h1>{{ .Title }}</h1>
	<p>{{ .Content }}</p>
	{{ range .Paginator.Pages }}
		<article class="post">
			<h1><a href="{{ .Permalink }}">{{ .Title }}</a> {{ if .Draft }}(Draft){{ end }}</h1>

			<div class="post-content">
				<p>{{ .Summary | plainify | safeHTML }} {{ if .Truncated }} … {{ end }}</p>
			</div>

		</article>
	{{ end }}

	{{ partial "pagination.html" . }}
{{ end }}
